{% extends 'base.html.twig' %}

{% block title %}CGU CGV - Breizh Gyotaku{% endblock %}

{% block content %}
<H1>CGV / CGU</H1>
<H1>CONDITIONS GÉNÉRALES D’UTILISATION</H1>
<H 3>CONDITIONS GÉNÉRALES DE VENTE ET D’UTILISATION</H 3>
<H 4>EXPOSE PREALABLE</H 4>
<p>GLIPPA Sébastien a pour activité le développement et l’exploitation d’un site web accessible à l’adresse Breizh Gyotaku.afpa (ci-après le « Site »). <br/>
Le Site est une plateforme de vente en ligne qui met en relation l’artiste et des Acheteurs (tels que définis à l’article 1 ci-après) pour la vente d’Articles de mobilier et de décoration uniques (tels que définis à l’article 1 ci-après). <br/>
GLIPPA Sébastien n’est ni Vendeur ni Acheteur et agit comme un intermédiaire entre les Acheteurs et les Vendeurs. GLIPPA Sébastien ne saurait engager sa responsabilité au titre des ventes réalisées par les Vendeurs. Les Vendeurs sont responsables de la vente des Articles par l’intermédiaire du Site. <br/>
Les Acheteurs sont responsables de leurs actions effectuées par l’intermédiaire du Site ainsi que de leurs achats effectués sur le Site.</p><br/>
 
<H1>ARTICLE 1 : PREAMBULE</H1>
<p>La société SG(ci-après dénommée « SG »), est une personne en reconversion professionnelle, dont le siège social est situé au Boulvern – 29550 PLOMODIERN.</p><br/>
 
<H1>ARTICLE 2 : OBJET DES CONDITIONS GENERALES</H1>
<p>Les présentes Conditions générales régissent les rapports entre :<br/>
L’Utilisateur (tel que défini à l’article 1 ci-après) <br/>
D’une part<br/>
Et<br/>
SG<br/>
D’autre part<br/>
Ci-après désignés individuellement « la Partie » ou « les Parties ».</p><br/>
 
<H1>ARTICLE 3 : TERMINOLOGIE</H1>
<p>Les Parties conviennent et acceptent que les termes suivants utilisés avec une majuscule, au singulier et/ou au pluriel, ont dans le cadre des présentes Conditions générales, la signification qui leur est donnée ci-dessous : <br/>
•	« Acheteur» : désigne tout Utilisateur, professionnel ou non, qui achète un ou plusieurs Article(s) sur le Site ; <br/>
•	« Article » : désigne tout produit de mobilier et/ou de décoration mis en vente par l’intermédiaire de SG sur le Site ; <br/>
•	« Commande» : processus d’achat en ligne d’un Article par tout Acheteur au Vendeur par l’intermédiaire du Site ; <br/>
•	« Conditions générales » : désigne les présentes Conditions Générales de vente et d’utilisation ; <br/>
•	« Créateur » : désigne l’artiste, à l’origine de l’Article en vente sur le Site.
•	«Informations » : désigne les données (personnelles, professionnelles, informations etc.) et contenus (vidéographiques, photographiques, documents, messages, images, photographies détourées etc.) mis en ligne par tout Utilisateur sur le Site ; <br/>
•	« Prix de l’Article » : désigne le prix d’un Article proposé par le Vendeur. Le Prix de l’Article ne comprend pas les frais de livraison de l’Article; <br/>
•	« Espace membre » : page dédiée à un Utilisateur inscrit sur le Site comportant les Informations renseignées par cet Utilisateur ; <br/>
•	« Utilisateur» : désigne tout internaute naviguant sur le Site en quelque qualité que ce soit (Acheteur, professionnel ou non, personne physique agissant en son nom personnel ou pour le compte d’une personne morale, internaute non inscrit sur le Site, etc.) ; </p><br/>
 
<H1>ARTICLE 4 : OBJET ET ACCEPTATION DES CONDITIONS GÉNÉRALES</H1>
<p>Les présentes Conditions générales ont pour objet de définir les conditions d’utilisation du Site par l’Utilisateur. <br/>
Le fait pour tout Utilisateur de cocher la case « J’ai lu les Conditions générales et j’y adhère sans réserve » au moment de son inscription sur le Site constitue une acceptation irrévocable et sans réserve de l’intégralité des stipulations des présentes. <br/>
Avant la confirmation de la Commande, l’Acheteur devra accepter les Conditions générales en cliquant sur l’icône prévue à cet effet, et ce pour chaque nouvelle Commande. Cette acceptation constitue la formation du contrat entre SG et l’Utilisateur. <br/>
L’Utilisateur déclare et garantit avoir la capacité juridique de contracter et, s’il représente une société ou tout autre organisme ayant la personnalité morale, être habilité à agir au nom et pour le compte de cette société ou de cet organisme. <br/>
Les présentes Conditions générales constituent l’intégralité de l’accord entre les Parties et remplacent tout accord ou arrangement précédent, oral ou écrit s’y reportant. <br/>
Les présentes Conditions générales prévalent, entre SG et l’Utilisateur, sur tout autre document contractuel ou non contractuel émanant d’un Acheteur. Elles prévalent de la même façon sur tout document contractuel ou non contractuel émanant d’un Vendeur. <br/>
SG se réserve le droit d’adapter ou de modifier ces Conditions générales à tout moment et sans préavis. En cas de modification, les Conditions Générales applicables à la Commande sont celles qui étaient en ligne, et que l’Acheteur a acceptées au jour de la passation de sa Commande. <br/>
En cas de désaccord avec les termes et conditions de ces Conditions générales, l’Utilisateur doit renoncer à utiliser le Site. A défaut, il sera réputé accepter sans réserve la nouvelle version des Conditions générales.</p><br/>
 
<H1>ARTICLE 5 : INSCRIPTION SUR LE SITE</H1>
<p>Pour acheter des Articles sur le Site, l’Utilisateur devra s’y inscrire en créant un compte. L’inscription sur le Site est gratuite et accessible à tout Utilisateur personne physique, ainsi qu’à toute personne morale par l’intermédiaire de toute personne habilitée à agir au nom de celle-ci. <br/>
L’Utilisateur devra fournir les informations requises dans le formulaire d’inscription. L’Utilisateur déclare fournir des informations personnelles complètes, non erronées et de nature à permettre de procéder à son identification précise. <br/>
Lors de la création de son compte, l’Utilisateur choisit un identifiant et un mot de passe, qu’il conserve confidentiels. L’Utilisateur s’engage à ne pas fournir une information personnelle fantaisiste, calomnieuse ou portant atteinte aux droits d’un tiers (marque, dénomination sociale, etc.) <br/>
Il est conseillé à l’Utilisateur, par mesure de sécurité, de choisir un mot de passe contenant plusieurs caractères (majuscules, chiffres, etc.) ainsi que de changer régulièrement le mot de passe afin d’assurer un haut niveau de sécurité. <br/>
Seul l’Utilisateur est responsable de l’ensemble des actions effectuées sur son Profil et de toute utilisation du Site avec son identifiant et son mot de passe, sauf si l’utilisation de son compte a été faite après sa désinscription, ou après notification à SG d’une utilisation abusive de son compte. </p><br/>
 
<H1>ARTICLE 6 : OBLIGATIONS DE L’UTILISATEUR</H1>
<p>Dans le cadre de l’utilisation du Site, l’Utilisateur s’engage à :<br/>
•	Garantir l’exactitude, l’intégrité et la légalité des Informations ; <br/>
•	Garantir le bon usage du Site ; <br/>
•	S’abstenir de saisir des Informations malveillantes, dénigrantes, obscènes, diffamatoires, volontairement trompeuses, illicites et/ou contraires aux bonnes mœurs ; <br/>
•	Respecter les droits des tiers, et notamment leurs droits de propriété intellectuelle ; <br/>
•	Ne pas usurper l’identité d’autres Utilisateurs du Service ; <br/>
•	Ne pas altérer ou perturber l’intégrité ou l’exécution du Site ou des données qui y sont contenues ; <br/>
•	Ne pas tenter d’obtenir un accès non autorisé au Site ou aux systèmes ou réseaux qui lui sont associés ou d’intercepter des données ; <br/>
•	Utiliser le Site dans le respect des législations et réglementations nationales et/ou internationales applicables. <br/>
•	Informer SG en cas de présence d’Articles contrefaisants sur le Site. <br/>
En cas de manquement à l’une de ces obligations, SG se réserve le droit de suspendre temporairement ou définitivement le compte de l’Utilisateur et/ou de résilier les présentes Conditions générales.</p><br/>
 
<H1>ARTICLE 7 : PROTECTION DES DONNÉES PERSONNELLES</H1>
<p>Les données personnelles de l’Utilisateur sur le site ont pour finalité le bon fonctionnement du Site et la prise de contact entre les Utilisateurs et SG. <br/>
SG collecte et utilise les données personnelles de l’Utilisateur dans le respect des dispositions de la loi n°78-17 du 6 janvier 1978 dite « Informatique et Libertés ». <br/>
Conformément à l’article 6-5° de la loi « Informatique et Libertés », SG conserve les données sous une forme permettant l’identification des personnes concernées pendant une durée qui n’excède pas la durée nécessaire aux finalités pour lesquelles elles sont collectées et traitées. <br/>
SG et le Vendeur sont seuls destinataires de ces données qui ne seront en aucun cas cédées ou vendues à des tiers par SG. SG pourra néanmoins être amené à transmettre ces données à des prestataires techniques pour les besoins de l’exécution de la Commande et de l’exploitation du Site. <br/>
Ces données sont stockées en France. <br/>
SG s’engage à ne pas porter atteinte à la vie privée des Utilisateurs et à prendre toutes précautions utiles afin de préserver la sécurité et la confidentialité de leurs données personnelles et notamment d’empêcher qu’elles soient modifiées, endommagées ou communiquées à des personnes non autorisées, sous réserve des obligations qui pourraient lui incomber au sens de la loi n°2004-575 dite pour la Confiance dans l’Économie Numérique. <br/>
L’Utilisateur reconnaît et accepte que pendant la durée des présentes, SG conserve tous documents, informations et enregistrements concernant son activité sur le Site. <br/>
Conformément aux dispositions de la loi 78-17 du 6 janvier 1978 et du règlement européen en matière de protection des données à caractère personnel, dans les conditions définies par les dispositions précitées, vous disposez d’un droit d’accès, de rectification, d’effacement de vos données à caractère personnel, à la limitation du traitement, à la portabilité de vos données, ainsi que d’un droit d’opposition au traitement de vos données. Par ailleurs, vous disposez également du droit de définir des directives relatives à la conservation, à l’effacement et à la communication de vos données à caractère personnel après votre décès. La communication de directives spécifiques post-mortem et l’exercice des droits peuvent être exercés auprès de SG par courrier électronique à l’adresse suivante  : contact@sg.com ou par courrier à l’adresse suivante : Boulvern, 29550 PLOMODIERN, France accompagné d’une copie d’un titre d’identité signé. <br/>
Vous avez également la possibilité d’introduire une réclamation auprès de la Cnil à l’adresse suivante : 3 Place de Fontenoy – TSA 80715 – 75334 PARIS CEDEX 07<br/>
Les données personnelles de l’Utilisateur pourront être utilisées à des fins publicitaires. Cependant, l’Utilisateur qui ne souhaiterait plus recevoir ces offres, pourra à tout moment en faire la demande en cliquant sur un lien électronique disponible sur les mails et newsletter ou modifier les paramètres de son compte directement sur le Site. <br/>
Conformément à l’article L223-1 et suivants du code de la consommation, le consommateur qui ne souhaite pas faire l’objet d’une prospection commerciale par voie téléphonique peut s’inscrire gratuitement sur la liste d’opposition au démarchage téléphonique. La liste d’opposition au démarchage téléphonique s’impose à tout professionnel à l’exception de ceux avec lesquels le consommateur a déjà conclu un contrat.</p><br/>
 
<H1>ARTICLE 8 : COOKIES</H1>
<p>SG utilise des cookies de session permettant à l’Utilisateur de ne pas avoir à s’identifier à chaque accès au Service au cours d’une même journée, hormis lors du premier accès, grâce à des fichiers déposés sur l’ordinateur permettant d’identifier l’Utilisateur lors de chaque connexion au Site. <br/>
Ces cookies permettent seulement l’établissement d’études statistiques sur le trafic des visiteurs du Site dont les résultats sont totalement anonymes. <br/>
SG utilise également des cookies tiers. <br/>
Les tiers autorisés à accéder aux données collectées dans ces cookies tiers par SG s’engagent à utiliser ces données conformément aux dispositions de la loi Informatique et Libertés du 6 janvier 1978 modifiée par la loi du 6 août 2004 et à respecter la vie privée des internautes. <br/>
Conformément aux dispositions de la loi « Informatique et Libertés » du 6 janvier 1978, l’Utilisateur peut accéder à toutes les informations contenues dans les fichiers en relation avec les cookies utilisés par SG par l’intermédiaire de la rubrique « contact ». <br/>
De façon générale, tout Utilisateur peut, s’il le souhaite, s’opposer à l’utilisation de cookies utilisés SG en sélectionnant les paramètres appropriés de son navigateur pour désactiver les cookies.</p><br/>
 
<H1>ARTICLE 9 : MODALITÉS DE COMMANDE</H1>
<h3>9.1. Information précontractuelle</h3>
<p>SG s’engage à informer l’Utilisateur aussi précisément que possible sur les caractéristiques essentielles de l’Article qu’il met en vente, à savoir sa nature, ses fonctionnalités, ses dimensions, ses couleurs ou encore la matière ainsi que sur le Prix de l’Article. <br/>
L’Utilisateur a la possibilité de poser des questions sur l’Article par l’intermédiaire de la rubrique « contact » du Site. <br/>
SG s’engage à répondre aussi précisément que possible afin d’éviter toute absence de conformité de l’Article à la description qui en a été donnée dans l’Annonce par SG Toutefois, SG ne pourra être tenu pour responsable d’un défaut de conformité de l’Article avec l’Annonce. </p><br/>
<h3>9.2. Conclusion de la vente</h3>
<p>L’Utilisateur peut passer Commande sur le Site après avoir saisi ses identifiants. L’Utilisateur peut placer les Articles de son choix dans son panier d’achat. <br/>
En application des dispositions de l’article 1369-2 du Code civil, l’Acheteur aura la possibilité de vérifier le détail de sa Commande et son prix total et de corriger d’éventuelles erreurs avant de confirmer définitivement la Commande pour exprimer son acceptation. L’Utilisateur pourra donc changer d’avis à tout moment et modifier ou annuler les Articles sélectionnés dans son panier. <br/>
Après avoir validé son panier d’achat, l’Acheteur devra renseigner des informations complémentaires telles que l’adresse de livraison et le choix du transporteur, puis cliquer sur valider ma commande. <br/>
Il sera alors redirigé sur une page récapitulative où il contrôlera son adresse de livraison, son transporteur, ses produits, sous total et total. <br/>
Afin de finaliser la Commande, l’Acheteur devra appuyer sur le Bouton « payer | PRIX € » figurant sur la page récapitulative qui l’enverra sur la page STRIPE pour le paiement. L’Acheteur valide la Commande par le « double clic » qui vaut acceptation du prix et des caractéristiques de l’Article acheté, il s’agit d’une offre irrévocable d’achat. <br/>
SG ne pourra être tenue responsable d’erreurs de saisie par l’Acheteur, ni de leurs éventuelles conséquences en termes de retard ou d’erreur de livraison. Dans ces hypothèses, les frais engendrés par une éventuelle réexpédition seront à la charge de l’Acheteur.</p><br/>
<h3>9.3. Prix des Articles</h3>
<p>Les prix des Articles indiqués sur le Site sont en Euros toutes taxes comprises. <br/>
Les prix s’entendent hors participation de l’Acheteur aux frais de Livraison qui sont à la charge de l’Acheteur. Les frais de Livraison de la Commande seront indiqués à l’Acheteur avant la validation définitive de la Commande. <br/>
SG pourra modifier les prix des Articles à tout moment et sans préavis. Toutefois, le prix applicable à la Commande de l’Acheteur restera celui indiqué dans le résumé du panier d’achat lors de la validation de la commande. Les prix affichés en ligne ou ressortant de la Commande sont garantis, sauf à ce qu’ils s’avèrent, notamment du fait d’une erreur ou de dysfonctionnement technique, bug informatique, dérisoires au prix réel de vente du Produit.</p><br/>
<h3>9.4. Paiement</h3>
<p>Le paiement s’effectue au moyen d’une carte de paiement via le portail sécurisé STRIPE. <br/>
Le paiement de la Commande par l’Acheteur est irrévocable, sans préjudice pour le client d’exercer son droit de rétractation par la suite. <br/>
L’Acheteur confirme et garantit à SG qu’il est habilité à utiliser le moyen fourni pour le paiement de sa Commande et qu’il dispose des autorisations éventuellement nécessaires pour utiliser le mode de paiement concerné ainsi que des fonds suffisants pour couvrir l’ensemble du paiement de la Commande. <br/>
Le compte bancaire de l’Acheteur sera débité à l’issue d’un délai de 24 heures suivant la date de la confirmation de la Commande, et le paiement sera considéré comme effectif après confirmation de l’accord des centres de paiement bancaire. <br/>
Le Vendeur reste propriétaire de l’Article commandé jusqu’au paiement définitif et intégral du prix de vente. En cas de défaut de paiement alors que l’Article a été livré, l’Acheteur s’oblige à restituer l’Article non payé en assurant la totalité des frais.</p><br/>
 
<H1>ARTICLE 10 : MODALITÉS DE LIVRAISON DE L’ARTICLE</H1>
<h3>10.1. Généralités</h3>
<p>Les Frais de Livraison sont à la charge de l’Acheteur hormis le cas d’une remise en main propre qui ne comprend pas les Frais de Livraison. <br/>
Le détail des frais et des modalités de livraison est précisé sur la page « Politique de livraison » du Site. <br/>
Les Frais de Livraison sont exprimés en Euros, toutes taxes comprises. <br/>
SG assure la livraison des Commandes en France et à l’étranger. <br/>
La livraison interviendra après l’enregistrement du règlement de la Commande à l’adresse de livraison renseignée par l’Acheteur lors de la Commande.</p><br/>
<h3>10.2. Livraison standard</h3>
<p>L’Acheteur peut opter pour une livraison standard de l’Article commandé, par les services de La Poste, Chronopost, Colissimo en fonction du volume et/ou de la fragilité de l’Article. <br/>
Après la conclusion de la vente et l’encaissement du Prix de la Transaction par SG, SG communiquera au Vendeur les coordonnées de l’Acheteur afin qu’il puisse procéder à la livraison de l’Article. <br/>
Le Vendeur s’engage à adresser à l’Acheteur l’Article convenablement emballé dans le délai indiqué dans l’Annonce. <br/>
Dans les vingt-quatre (24) heures suivants l’expédition de l’Article, SG s’engage à informer l’Acheteur de la date approximative de livraison de l’Article. <br/>
Le Vendeur est seul responsable de la bonne exécution de la livraison de l’Article commandé à l’Acheteur, dans les délais susvisés. <br/>
Les risques liés à l’opération de livraison pèsent sur le Vendeur, auquel il incombera de se retourner le cas échéant contre le transporteur. <br/>
Le Vendeur s’engage à indiquer le numéro de suivi correspondant à l’expédition de l’Article dans l’espace réservé à cet effet sur le Site et à conserver les preuves de la livraison pendant un délai d’un (1) mois suivant la date d’expédition de l’Article.</p><br/>
<h3>10.3. Réception de l’Article</h3>
<p>En cas d’absence de l’Acheteur lors de la livraison de l’Article, le transporteur déposera un avis de passage à l’adresse de livraison indiquée par l’Acheteur. L’Acheteur s’engage à retirer l’Article au bureau de poste approprié dans les délais impartis. <br/>
Dans l’hypothèse où, faute d’être allé chercher l’Article dans les délais, celui-ci est réexpédié au Vendeur, l’Acheteur s’engage à se rapprocher du Vendeur pour organiser la réexpédition de l’Article. <br/>
L’Acheteur sera tenu de prendre à sa charge les frais de réexpédition de l’Article ou de venir chercher l’Article directement auprès du Vendeur sous réserve de l’accord de ce dernier.</p><br/>
<h3>10.4. Remise en main propre</h3>
<p>Pas de remis en main propre pour le moment.</p>
<h3>10.5. Effet de la livraison</h3>
<p>Le transfert des risques intervient à la livraison, au moment où l’Acheteur prend physiquement possession des Articles à l’adresse de livraison indiquée, ou auprès du Transporteur. <br/>
Sans préjudice du délai dont dispose l’Acheteur pour exercer son droit de rétractation, dès la réception des Articles, il appartient à l’Acheteur ou au destinataire de s’assurer que les Articles livrés correspondent à sa Commande, et de vérifier l’état et la conformité des Articles par rapport à sa Commande. <br/>
L’Acheteur formalisera son acceptation de la livraison par la signature du récépissé de livraison délivré par le transporteur. <br/>
Si, lors de la livraison, l’aspect extérieur du colis n’est pas parfait, l’Acheteur ou le destinataire des Articles procédera à l’ouverture du colis en présence du transporteur afin de vérifier l’état des Articles. En cas d’endommagement résultant du transport, l’Acheteur devra refuser les Articles endommagés et indiquer « refus pour avarie » sur le bon de retour. <br/>
En cas de défaut apparent du colis, l’Acheteur devra faire toutes réserves et réclamations qui apparaîtraient justifiées ; il lui appartiendra, s’il y a lieu, de refuser le colis. <br/>
Pour toute réclamation relative à un défaut apparent ou à l’endommagement lors de la livraison de l’Article, l’Acheteur devra dans les meilleurs délais adresser sa demande par l’intermédiaire de la rubrique « contact » sur le Site.</p><br/>
<h1>Article 11 : Droit de rétractation</h1>
<p>L’Acheteur qui ne serait pas satisfait de son Article a la possibilité d’exercer son droit de rétractation, sans pénalités et dans le respect des conditions suivantes.</p><br/>
<h3>11.1. Délai de rétractation</h3>
Conformément à l’article Article L221-18 du code de la consommation, le consommateur dispose d’un délai de quatorze jours pour exercer son droit de rétractation à compter de la réception du bien par le consommateur ou un tiers désigné par le consommateur. <br/>
Dans ce délai, l’Acheteur doit informer SG de sa volonté de se rétracter en lui adressant le formulaire de rétractation fournit SG, ou toute autre déclaration, dénuée d’ambiguïté, exprimant sa volonté de se rétracter.</p><br/>
<h3>11.2. Modalités de rétractation</h3>
<p>Dans le cas où l’Article n’a pas encore été expédié, SG prendra en compte immédiatement la décision de rétractation et l’Acheteur sera remboursé dans un délai de quatorze (14) jours maximum à compter de sa décision de rétractation. <br/>
Dans le cas où l’Acheteur aurait d’ores et déjà reçu l’Article et/ou que l’Article serait en cours d’expédition, l’Acheteur dispose d’un délai de quatorze (14) jours à compter de sa réception pour retourner l’Article, emballé avec soin, au Vendeur, selon le mode d’expédition initial. <br/>
Les frais engagés pour le retour de l’Article seront à la charge exclusive de L’ATELIER DES CREATEURS. Le client devra faire l’avance des frais.</p><br/>
<h3>11.3. Effets de la rétractation</h3>
<p>Sous réserve du respect de cette procédure et des délais indiqués, SG remboursera à l’Acheteur via le même moyen de paiement utilisé par l’Acheteur lors de la Commande, dans un délai de quatorze (14) jours à compter de sa décision de rétractation. <br/>
SG pourra néanmoins décider de différer le remboursement jusqu’à récupération de l’Article par le Vendeur ou jusqu’à ce que l’Acheteur ait fourni à SG une preuve de l’expédition de l’Article, la date retenue étant celle du premier de ces faits.</p><br/>
 
<H1>ARTICLE 12 : GARANTIES LÉGALES</H1>
<p>SG est garant de la conformité de l’Article et pour ce faire s’engage à décrire aussi précisément que possible les caractéristiques de l’Article dans l’Annonce.</p><br/>
<h3>12.1. Garantie de conformité</h3>
<table width="100%" border ="1" cellspacing="1" cellpadding="1"><tr><td>"Il est rappelé au consommateur qu’il : <br/>
- bénéficie d'un délai de deux ans à compter de la délivrance du bien pour agir ; <br/>
- peut choisir entre la réparation ou le remplacement du bien, sous réserve des conditions de coût prévues par l'article L. 211-9  du code de la consommation à savoir : En cas de défaut de conformité, l'acheteur choisit entre la réparation et le remplacement du bien.
Toutefois, le vendeur peut ne pas procéder selon le choix de l'acheteur si ce choix entraîne un coût manifestement disproportionné au regard de l'autre modalité, compte tenu de la valeur du bien ou de l'importance du défaut. Il est alors tenu de procéder, sauf impossibilité, selon la modalité non choisie par l'acheteur. <br/>
- est dispensé de rapporter la preuve de l'existence du défaut de conformité du bien durant les vingt-quatre mois suivant la délivrance du bien.</br>
La garantie légale de conformité s'applique indépendamment de la garantie commerciale éventuellement consentie. 
Le consommateur peut décider de mettre en œuvre la garantie contre les défauts cachés de la chose vendue :</br>
- au sens de l'article 1641 du code civil et que dans cette hypothèse, il peut choisir entre la résolution de la vente ou une réduction du prix de vente conformément à l'article 1644 du code civil. </td><tr></table><br/>

 
Dans le cas <b>des articles 1641 et 1643</b>, l'acheteur a le choix de rendre la chose et de se faire restituer le prix, ou de garder la chose et de se faire rendre une partie du prix. <br/>
 1643 du code civil<br/>
Il est tenu des vices cachés, quand même il ne les aurait pas connus, à moins que, dans ce cas, il n'ait stipulé qu'il ne sera obligé à aucune garantie. <br/>
Selon le cas, et dans la limite de ce qu’il est possible de faire, SG s’engage soit à remplacer l’Article, ou à l’échanger contre un autre de prix équivalent, soit à rembourser le Prix de l’Article dans les 30 jours suivant la demande du Membre si le remplacement d’un produit ou service identique ou équivalent s’avérait impossible. <br/>
Selon l’article L217-4 Code de la consommation, le vendeur répond également des défauts de conformité résultant de l’emballage, des instructions de montage ou de l’installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité. <br/>
Conformément aux dispositions de l’article L217-5 Code de la consommation pour être conforme au contrat, le bien doit : <br/>
•	Être propre à l’usage habituellement attendu d’un bien semblable et, le cas échéant : <br/>
o	Correspondre à la description donnée par le vendeur et posséder les qualités que celui-ci a présentées à l’acheteur sous forme d’échantillon ou de modèle ; <br/>
o	Présenter les qualités qu’un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l’étiquetage ; <br/>
 
•	Ou présenter les caractéristiques définies d’un commun accord par les parties ou être propre à tout usage spécial recherché par l’acheteur, porté à la connaissance du vendeur et que ce dernier a accepté.</p><br/>
<b>Les dispositions énoncées ci-après sont applicables aux présentes Conditions générales :</b><br/>
<h3>Article L217-7 Code de la consommation</h3>
<p>Les défauts de conformité qui apparaissent dans un délai de vingt-quatre mois à partir de la délivrance du bien sont présumés exister au moment de la délivrance, sauf preuve contraire. Le vendeur peut combattre cette présomption si celle-ci n’est pas compatible avec la nature du bien ou le défaut de conformité invoqué.</p><br/>
<h3>Article L217-9 Code la consommation</h3>
<p>En cas de défaut de conformité, l’acheteur choisit entre la réparation et le remplacement du bien. Toutefois, le vendeur peut ne pas procéder selon le choix de l’acheteur si ce choix entraîne un coût manifestement disproportionné au regard de l’autre modalité, compte tenu de la valeur du bien ou de l’importance du défaut. Il est alors tenu de procéder, sauf impossibilité, selon la modalité non choisie par l’acheteur.</p><br/>
<h3>Article L217-10 Code de la consommation</h3>
<p>Si la réparation et le remplacement du bien sont impossibles, l’acheteur peut rendre le bien et se faire restituer le prix ou garder le bien et se faire rendre une partie du prix. <br/>
La même faculté lui est offerte : <br/>
•	Si la solution demandée, proposée ou convenue en application de l’article L217-9 ne peut être mise en œuvre dans le délai d’un mois suivant la réclamation de l’acheteur ; <br/>
•	Ou si cette solution ne peut l’être sans inconvénient majeur pour celui-ci compte-tenu de la nature du bien et de l’usage qu’il recherche. La résolution de la vente ne peut toutefois être prononcée si le défaut de conformité est mineur.</p><br/>
<h3>Article L217-12 Code de la consommation</h3>
<p>L’action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien.</p><br/>
<h3>Article L217-13 Code de la Consommation </h3>
<p>Les dispositions de la présente section ne privent pas l’acheteur du droit d’exercer l’action résultant des vices rédhibitoires telle qu’elle résulte des articles 1641 à 1649 du code civil ou toute autre action de nature contractuelle ou extracontractuelle qui lui est reconnue par la loi.</p><br/>
<h3>12.2. Garantie pour vice caché</h3>
<p>L’Acheteur peut décider de mettre en œuvre la garantie contre les défauts cachés de la chose vendue au sens de l’article 1641 du code civil. Dans cette hypothèse, l’Acheteur peut choisir entre la résolution de la vente ou une réduction du prix de vente conformément à l’article 1644 du code civil. <br/>
Selon le cas et dans la limite de ce qu’il est possible de faire, SG s’engage à rembourser l’Acheteur la totalité du prix de l’Article retourné, ou à lui rembourser une partie du prix si l’Acheteur décide de conserver l’Article.</p><br/>
<h3><b>Les dispositions énoncées ci-après sont applicables aux présentes Conditions générales :</b></h3><br/>
<h4>Article 1641 Code civil</h4>
<p>Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l’usage auquel on la destine, ou qui diminuent tellement cet usage, que l’acheteur ne l’aurait pas acquise, ou n’en aurait donné qu’un moindre prix, s’il les avait connus.</p><br/>
<h4>Article 1645 Code civil</h4>
<p>Si le vendeur connaissait les vices de la chose, il est tenu, outre la restitution du prix qu’il en a reçu, de tous les dommages et intérêts envers l’acheteur.</p><br/>
<h4>Article 1646 Code civil</h4>
<p>Si le vendeur ignorait les vices de la chose, il ne sera tenu qu’à la restitution du prix, et à rembourser à l’acquéreur les frais occasionnés par la vente.</p><br/>
<h4>Article 1648 alinéa 1er Code civil</h4>
<p>L’action résultant des vices rédhibitoires doit être intentée par l’acquéreur dans un délai de deux (2) ans à compter de la découverte du vice. <br/>
L’Utilisateur pourra adresser toute demande concernant les garanties légales par l’intermédiaire de la rubrique « contact » du Site.</p><br/>
<h3>12.3. Exclusion de garanties</h3>
<p>Sont exclus de garantie les produits ou services modifiés, réparés, intégrés ou ajoutés par l’Acheteur ou toute autre personne non autorisée par le fournisseur dudit produit ou service. La garantie ne jouera pas pour les vices apparents. La garantie ne prendra pas en charge les produits ou services endommagés lors du transport ou d’une mauvaise utilisation.</p><br/>
 
<H1>ARTICLE 13 : RESPONSABILITÉ</H1>
<p><b>13.1.</b> SG ne sera responsable que des dommages directs subis par l’Utilisateur, dont il sera établi qu’ils résultent de l’inexécution par SG de ses obligations. <br/>
La responsabilité de L’ATELIER DES CREATEURS, dans l’hypothèse où celle-ci serait reconnue par une décision judiciaire, ne pourra excéder le montant total des Commissions que l’Utilisateur aura payées à SG au cours des douze (12) mois précédents ladite action en responsabilité. <br/>
En revanche, SG ne saurait en aucun cas être tenu responsable : <br/>
•	Des dommages qui résulteraient du fait de l’Utilisateur, du fait d’un tiers ou d’un cas de force majeure ; <br/>
•	Des dommages indirects, ceux-ci étant définis de façon non limitative comme les pertes d’exploitation (chiffre d’affaires, revenus ou bénéfices), les pertes d’opportunités, de données, les préjudices d’image ou de réputation, préjudice commercial ou économique, la cessation éventuelle de l’activité de l’Utilisateur.</p><br/>
<p><b>13.2.</b> SG ne saurait être tenu responsable pour les contenus disponibles sur les autres sites ou autres sources Internet accessibles au moyen des liens hypertextes insérés sur le Site, ni des dommages pouvant être subis par l’Utilisateur à l’occasion de la visite de ces sites. Les présentes Conditions générales cesseront de s’appliquer dès lors que l’Utilisateur sera redirigé vers le site tiers. <br/>
Toutefois, l’Utilisateur qui accède par l’intermédiaire du Site à un site tiers illicite ou nuisible de quelque manière que ce soit en avise immédiatement SG de façon à lui permettre de supprimer sans délai le lien hypertexte renvoyant à un site litigieux. <br/>
Tout lien vers le Site devra faire l’objet d’une autorisation préalable de SG et qui pourra être retirée à tout moment s’il apparaît que le lien hypertexte porte atteinte à l’intérêt de SG.</p><br/>
<p><b>13.3.</b> Compte tenu du caractère mondial du réseau Internet, l’Utilisateur accepte de se conformer à toutes les règles d’ordre public relatives au comportement des utilisateurs du réseau Internet et applicables dans le pays depuis lequel il utilise le Site.</p>
<p><b>13.4.</b> En utilisant le Site, l’Utilisateur est conscient et accepte les caractéristiques et les risques liés à l’utilisation de l’Internet et des technologies qui y sont liées. L’Utilisateur comprend et accepte les risques liés à l’absence de protection de certaines données contre les détournements ou risque de piratage ou de contamination éventuels par des virus circulant sur le réseau Internet.</p>
<p><b>13.5.</p> SG s’engage à mettre tout en œuvre pour assurer le bon fonctionnement du Site et son accessibilité par l’Utilisateur mais elle n’est tenue qu’à une obligation de moyens concernant la continuité de l’accès au Site. Dans cette optique, SG se réserve le droit de suspendre, sans préavis, l’accès au Site, temporairement ou définitivement.  SG pourra suspendre l’accès au Site pour des raisons de maintenance, de mise à jour ou en cas d’urgence. <br/>
En conséquence, SG ne saurait être tenu responsable de toute indisponibilité du Site ou toute difficulté de connexion ou d’interruption de la connexion ou de toute perturbation du réseau Internet affectant l’utilisation du Site.<br/>
SG ne pourra être responsable de la perte d’argent, ou de réputation, ni des dommages spéciaux, indirects ou induits résultant de l’interruption du Site, ni des éventuelles dégradations de matériel, logiciel ou données subies par l’Utilisateur du fait de l’utilisation du Site. <br/>
L’Utilisateur reconnait utiliser le Site tel qu’il lui est fourni, à ses risques et périls et ce, en parfaite connaissance de cause.</p><br/>
 
<H1>ARTICLE 14 : PROPRIÉTÉ INTELLECTUELLE</H1>
<p>A l’exception des Informations fournies par l’Utilisateur, l’ensemble des éléments techniques, graphiques, textuels ou autres constituant le Site (textes, graphismes, logiciels, photographies, images, vidéos, sons, plans, charte graphique, technologie(s), noms, marques, logos, créations et œuvres protégeables, bases de données, etc.) ainsi que le Site lui-même, sont la propriété exclusive de SG. <br/>
L’Utilisateur reconnait qu’aucune propriété ne lui est transmise, et qu’aucun droit ou licence ne lui est accordé(e), en dehors d’un droit d’utiliser le Site pendant la durée des présentes Conditions générales. <br/>
En conséquence, sauf autorisation expresse et préalable de SG, l’Utilisateur s’engage à ne pas : <br/>
•	Reproduire en nombre, à des fins commerciales ou non, des Informations présentes sur le Site et/ou les éléments techniques, graphiques, textuels ou autres constituant le Site ; <br/>
•	Intégrer tout ou partie du contenu du Site, et notamment les photographies détourées, dans un site tiers, à des fins commerciales ou non ; <br/>
•	Utiliser un robot, notamment d’exploration (spider), une application de recherche ou récupération de sites internet ou tout autre moyen permettant de récupérer ou d’indexer tout ou partie du contenu du Site ; <br/>
•	Copier les Informations présentes sur le Site et/ou les éléments techniques, graphiques, textuels ou autres constituant le Site sur des supports de toute nature permettant de reconstituer tout ou partie des fichiers d’origine. <br/>
Toute utilisation non expressément autorisée d’éléments du Site engage la responsabilité civile et/ou pénale de son auteur et sera susceptible d’entraîner des poursuites judiciaires à son encontre. <br/>
Les marques enregistrées, noms de produits et noms ou logos figurant sur le Site appartiennent à leurs propriétaires respectifs. <br/>
Le fait, pour SG, de faire référence à des produits, services, ou autres informations en citant un nom commercial, une enseigne, une marque, un fabricant, un fournisseur ou autre ne constitue pas et n’implique pas une acceptation, un parrainage, un partenariat ou une recommandation de la part de SG.</p><br/>
 
<H1>ARTICLE 15 : SUSPENSION ET RÉSILIATION</H1>
<p>Les présentes Conditions générales sont conclues pour la durée d’inscription de l’Utilisateur sur le Site. SG se réserve le droit d’adapter ou modifier les présentes Conditions générales. En l’absence de contestation de la part de l’Utilisateur, ce dernier est réputé accepter sans réserve la nouvelle version des Conditions générales. <br/>
L’Utilisateur peut résilier son inscription sur le Site à tout moment et supprimer son compte en adressant une demande de résiliation à la rubrique « contact » accessible sur le Site. <br/>
En cas de manquement de l’utilisateur à ses obligations prévues aux présentes, SG se réserve le droit de suspendre ou de résilier son inscription au Site, de plein droit et sans préavis ni formalité préalable. <br/>
L’utilisateur sera informé de la suspension ou de la résiliation des Conditions générales et de sa désinscription sur le Site par courriel, à l’adresse renseignée lors de son inscription. <br/>
SG se réserve le droit de réclamer d’éventuels dommages et intérêts en réparation des préjudices éventuellement subis du fait des manquements reprochés à l’Utilisateur. </p><br/>
 
 <H1>ARTICLE 16 : DIVERS</H1>
<h3>16.1. Indépendance des Parties</h3>
<p>Les Parties reconnaissent et acceptent qu’elles ne pourront en aucun cas prendre un engagement au nom et/ou pour le compte l’une de l’autre. <br/>
En outre, chacune des Parties demeure seule responsable de ses actes, allégations, engagements et prestations.</p><br/>
<h3>16.2. Relations entre les Parties</h3>
<p>Les Parties reconnaissent et acceptent qu’elles agissent en toute indépendance l’une de l’autre et, en particulier, que SG à un rôle de pur intermédiaire entre les Vendeurs et les Acheteurs, en sorte qu’elle est un tiers aux relations nouées entre ceux-ci et que les présentes Conditions générales ne pourront en aucun cas être considérées comme établissant entre les Parties une société de fait, une société en participation ou tout autre situation entraînant entre elles une quelconque représentation réciproque ou solidarité à l’égard de leurs créanciers respectifs.</p>
<h3>16.3. Autonomie des stipulations</h3>
<p>S’il l’une quelconque des dispositions des Conditions générales devait être déclarée nulle ou inapplicable, au regard d’une règle de droit en vigueur ou d’une décision judiciaire devenue définitive, elle sera réputée non écrite. <br/>
Les autres stipulations des présentes resteront en vigueur en conservant toute leur force et leur portée, pour autant qu’il soit possible, les Parties s’engageant, en tant que de besoin, à se rapprocher afin de remplacer la clause nulle par une clause valide, aussi proche que possible, dans son esprit, de celle qu’elle a vocation à remplacer.</p><br/>
<h3>16.4. Non renonciation</h3>
<p>Le fait que l’une ou l’autre des Parties ne revendique pas l’application de l’une quelconque des dispositions des présentes ou accepte leur inexécution, que ce soit de manière permanente ou temporaire, ne pourra pas être interprété et ne constituera pas une renonciation par cette Partie à ses droits en vertu des présentes, n’affectera en aucune manière la validité de tout ou partie des présentes et ne portera pas atteinte aux droits de la Partie d’agir en conséquence.</p><br/>
<h3>16.5. Force majeure</h3>
<p>Tout événement imprévisible, irrésistible et extérieur aux Parties tels que (et de manière non limitative)  les actes de guerre ou de terrorisme, les actes criminels, les émeutes, les catastrophes naturelles ou industrielles, les explosions, les réquisitions légales et autres dispositions d’ordre législatif ou règlementaire apportant des restrictions à l’exercice de l’activité de SG, les perturbations des réseaux de communications électroniques indépendantes de la volonté de SG, etc., doit être considéré comme un cas de force majeure. <br/>
En cas de force majeure, SG peut être amené à suspendre le Site. <br/>
Les effets des Conditions générales sont alors suspendus et reprendront après l’extinction du cas de force majeure pour la durée des Conditions générales qui restait à courir au moment de la suspension.</p><br/>
<h3>16.6. Règlement des litiges</h3>
<p>La validité, l’interprétation, l’exécution ou la résiliation des présentes Conditions générales et leurs suites éventuelles sont régis par le droit français et interprétés conformément à celui-ci. <br/>
En cas de différend, l’Acheteur devra se rapprocher de SG afin de lui faire part de sa réclamation et parvenir à une résolution amiable du litige. <br/><br/>
 
En cas d’échec de la réclamation préalable, le consommateur a la possibilité de recourir gratuitement à un dispositif de médiation afin de résoudre le litige devant le médiateur compétent : <br/>
Médicys<br/>
73 Boulevard de Clichy<br/>
75009 Paris<br/>
contact@medicys.fr<br/><br/>
 
L’Utilisateur/l’Acheteur est informé qu’en cas de survenance d’un litige lié à l’utilisation du Site/l’achat d’un Article sur le Site, il pourra saisir soit l’une des juridictions territorialement compétentes en vertu du Code de procédure civile, soit la juridiction du lieu où il demeurait au moment de l’acceptation des présentes conditions générales ou de la survenance du fait dommageable.</p>
{% endblock %}
