{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ? - Breizh Gyotaku{% endblock %}

{% block content %}

         <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">L'artiste</span></h2>
                <p class="lead"><br/>Luc Legendre, ancien restaurateur, intègre le Gyotaku à la connaissance du produit lors de la transmission de son savoir faire. Il y voit une façon de sensibiliser au respect du produit et donc, du vivant en cohérence avec une démarche durable. Il utilise uniquement de l'encre de seiche pour ensuite, consommer le poisson.</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('assets/img/LLegendre.jpg') }}" class="img-fluid" alt="Luc Legendre à l'oeuvre">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Venez me découvrir dans l'une <span class="text-muted">de mes expositions.</span></h2>
                <p class="lead">Retouvez moi jusque la fin du mois, au restaurant Fujiya, 4 avenue de la Victoire 97400 Saint-Denis La Réunion. Où j'expose mes derniers gyotakus. Le gyotaku est un art japonais consistant à reproduire des empreintes de poissons sur différents supports tels que du papier ou du tissu. Venez au Fujiya et participer à l’atelier Gyotaku et repartir avec votre empreinte de poissons.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ asset('assets/img/expo1.jpg') }}" class="img-fluid" alt="Expo en cours">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">GYOTAKU JAPAN EXHIBITION</h2>
                <p class="lead">J'ai été invité à l'exposition internationale d'art du Gyotaku d'Osaka (JAPON) qui a eu lieu du 18 au 22 mars 2022.<br/>33 artistes au total ont exposeré, 20 pour le Japon, 9 pour la Chine et 4 pour la France ( Ilona Stephani, Luc Legendre, Marc Porrini et Xavier Eightoeight tous membres de l'association). Chacun a montré 1 de ces oeuvres. Merci à takuseikai ( http://takuseikai.com/ ) et plus particulièrement à Maître Matsunaga et Yuji Nii pour l'invitation!!<br>J'ai eu la chance de recevoir l'un des 4 prix décernés lors de cette exhibition.
</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('assets/img/japan22.png') }}" class="img-fluid" alt="Expo Japon">
            </div>
        </div>

        

        

        <!-- /END THE FEATURETTES -->


{% endblock %}
