{% extends 'base.html.twig' %}

{% block title %}Nous contacter - Breizh Gyotaku{% endblock %}

{% block content %}

    <h2>Nous contacter</h2>
    <p>N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs délais.</p>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}

    <div class="row">
        <div class="col-md-8">{{ form(form) }}</div>
        <div class="col-md-4">
            <strong>Breizh Gyotaku</strong>
            <hr>
            06 24 86 45 68<br/>
            Boulvern, 29550 PLOMODIERN<br/>
            sebastien.glippa@gmail.com<br/>
            facebook<br/>
        </div>

    </div>

{% endblock %}
